/* Header */

nav {
    margin-bottom: 40px;
}

/* End Header */

/* 'About me' image media query */
@media screen and (max-width: 992px) {
    .image-margin {
        margin-bottom: 20px;
    }
}

/* End 'About me' image media query */

@media screen and (max-width: 576px) {
    .thumbnail-margin {
        display flex; justify-content: space-around;
        margin-bottom: 40px;
    }
}

/* Footer */

.social-media i {
    font-size: 16px;
    margin: 12px;
    padding-top: 10px;
}

.social-media i:hover {
    color: rgba(206, 202, 202, 0.2)
}

footer p.copyright {
    font-size: 10px;
    text-align: center;
}

/* End Footer */