

/* Header */
nav {
    margin-bottom: 40px;
    font-family: 'Roboto Mono', monospace;
}
/* End Header */

p {
    color: rgb(195, 195, 195);
    font-size: x-large;
}

body {
    font-family: 'Roboto Mono', monospace;
}

/* 'About me' image media query */
@media screen and (max-width: 992px) {
    .image-margin {
        margin-bottom: 20px;
    }
}
/* End 'About me' image media query */

/* Portfolio 'Thumbnail' image media query */
@media screen and (max-width: 576px) {
    .thumbnail-margin {
        display:flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .email-link {
        margin: auto;
    }
    .cell-link {
        margin: auto;
    }
}
/* End Portfolio 'Thumbnail' image media query */

.email-link {
    padding: 12px 0;
}

.cell-link {
    padding: 12px 0;
}

/* Footer */
.social-media i {
    font-size: 30px;
    margin: 12px;
    padding-top: 10px;
}
.social-media i:hover {
    color: rgba(206, 202, 202, 0.2)
}

.icon {
    font-size: 80px;
}

.tools {
    color: #2b9fd6;
}
footer p.copyright {
    font-size: 10px;
    text-align: center;
}
/* End Footer */

